.org-header {
    height     : 50px;
    margin     : 0px auto;
    display    : flex;
    align-items: center;
    font-family: "atlasgrotesk";

    >.logo {
        font-family   : "play";
        font-size     : 30px;
        margin-right  : 20px;
        padding-bottom: 5px;
        cursor        : pointer;
    }

    >.links {
        display    : flex;
        align-items: center;
        padding-top: 5px;
        flex-grow  : 1;
        height     : 100%;

        >.space {
            flex-grow: 1;
        }

        >.link {
            cursor     : pointer;
            font-weight: 500;
            font-size  : 14px;
            padding    : 0px 9px;
            height     : 100%;

            display        : flex;
            justify-content: center;
            align-items    : center;

            >.text {}

            img {
                width        : 30px;
                height       : 30px;
                border-radius: 50%;
            }

            border-bottom: 3px solid transparent;
        }

        >.link-selected {
            border-bottom: 3px solid white;
        }

        >.search-box {
            display       : flex;
            align-items   : center;
            height        : 100%;
            width         : 300px;
            padding-left  : 10px;
            padding-bottom: 3px;
        }

        >.notifications {
            font-size: 16px;
            padding  : 0px 15px;
        }
    }
}

.org-footer {
    padding-top   : 35px;
    padding-bottom: 30px;
    margin        : 0px auto;
    display       : flex;
    font-family   : "atlasgrotesk";

    >.copyright {
        color: gray;
    }

    >.links {
        flex: auto;

        >.inner {
            width  : 300px;
            margin : 0px auto;
            display: flex;

            >.link {
                flex   : auto;
                display: flex;
            }
        }
    }
}

.org-table {
    .section;
    background-color: white;
    width           : 100%;
    border-spacing  : 0;
    padding         : 0px;

    // 長い行を折り返す
    word-wrap   : break-word;
    table-layout: fixed;

    // 左上と右上のセルのborderをtableに合わせて曲線にする
    thead {
        th:first-child {
            border-top-left-radius: 5px;
        }

        th:last-child {
            border-top-right-radius: 5px;
        }
    }

    th {
        color     : #545b64;
        background: #fafafa;
        text-align: left;
        padding   : 10px 25px;
    }

    tr {
        td {
            border-top: 1px solid #ddd;
            padding   : 10px 25px;
        }
    }
}

.org-table-template {
    .org-table;

    background-color: #fafafa;

    table {
        width           : 100%;
        border-spacing  : 0px;
        background-color: white;
    }

    thead {
        //background-color: #f9fafb;
        padding         : 12px 12px;
        background-color: #f6f8fa;
    }

    // 偶数の行を別の色にする
    tr:nth-child(2n) {
        background-color: rgba(0, 0, 50, .02);
    }

    td {
        // 表の中の横線
        border-top: 1px solid rgba(34, 36, 38, .1);
        padding   : 0px 5px;
    }

    td,
    th {
        // 表の中の縦線
        // border-left: 1px solid rgba(34, 36, 38, .1);

        &:first-child {
            border-left: none;
        }
    }

    tr {
        td {
            padding: 0px 5px;
        }
    }
}

.org-content-list {
    >.header {
        >.info {
            color: rgba(128, 128, 128, 1);
        }

        >.viewtype {
            float: right;

            >.item {
                color  : rgba(0, 0, 0, 0.4);
                cursor : pointer;
                padding: 5px;

                >i {
                    margin-right: 0px;
                }
            }

            >.selected {
                color: rgba(0, 0, 0, 0.7);
            }
        }
    }
}

.org-content-list-icon {
    border-radius: 2px;
    padding      : 4px;

    &:hover {
        background-color: rgba(0, 0, 0, .1);
    }
}

.org-content-list-text {
    overflow     : hidden;
    text-overflow: ellipsis;
}

.org-structure {
    .org-table-template;

    >.buttons-area {
        text-align   : right;
        margin-bottom: 15px;
    }
}

.org-format-authority {
    .org-table-template;
}

.org-listview {
    >.items {
        >.item {
            flex-basis : 120px;
            height     : 60px;
            cursor     : pointer;
            padding    : 0px 25px;
            display    : flex;
            align-items: center;

            >.user {
                padding-right: 10px;
            }

            >.main {
                flex-grow: 1;
                height   : 100%;
                width    : 100%;

                >a {
                    height     : 100%;
                    width      : 100%;
                    display    : flex;
                    align-items: center;

                    >.title {
                        margin-right: 10px;
                        font-size   : 15px;
                        flex        : 1;
                    }

                    >.properties {
                        color: rgb(99, 99, 99);
                        flex : 1;

                        >.property {
                            margin-right: 5px;
                        }
                    }
                }
            }

            >.timestamp {
                flex-basis: 160px;
                font-size : 12px;
                color     : rgba(0, 0, 0, .4);

                span {
                    padding: 4px;
                }
            }

            border-top    : 1px solid rgba(0, 0, 0, 0);
            border-bottom : 1px solid rgba(0, 0, 0, 0);

            &:hover {
                background-color: rgba(0, 0, 0, .02);
                border-top      : 1px solid #ebecec;
                border-bottom   : 1px solid #ebecec;

                &:first-child {
                    border-top: 1px solid rgba(0, 0, 0, .02);
                }

                &:last-child {
                    border-bottom: 1px solid rgba(0, 0, 0, .02);
                }
            }
        }
    }
}

.org-search-menu {
    padding-bottom: 16px;

    >.search-box {
        height          : 32px;
        width           : 100%;
        border          : 0.7px solid rgba(0, 0, 0, 0.22);
        border-radius   : 16px;
        padding         : 0px 16px;
        background-color: white;
        display         : flex;
        align-items     : center;
        color           : black;

        >i {
            margin-right: 5px;
        }

        >textarea {
            border        : 0px;
            vertical-align: middle;
            line-height   : 26px;
            font-size     : 16px;
            width         : 100%;
            height        : 100%;
            resize        : none;
            height        : 100%;
            padding-left  : 4px;

            &:focus {
                outline   : none;
                box-sizing: border-box;
            }
        }
    }
}

.org-focused-view {
    >.item {}
}

.org-comments {
    padding-top: 25px;

    >.top {
        font-size     : 16px;
        color         : rgb(32, 33, 36);
        padding-bottom: 10px;

        >.count {
            color: rgba(0, 0, 0, 0.5);
        }
    }

    .org-comments-comment {
        padding-top: 16px;

        display: flex;

        font-size  : 14px;
        line-height: 22px;
        color      : rgba(0, 0, 0, 0.8);

        >.usericon {
            padding-left : 6px;
            padding-right: 16px;
            padding-top  : 6px;
        }

        .new-comment-body {

            >.top {
                display: flex;

                >.header {
                    flex     : 1;
                    font-size: 12px;
                    color    : rgba(0, 0, 0, 0.5);
                }

                >.cancel {
                    cursor: pointer;
                }
            }

            >.body {
                display: flex;

                >.left {
                    flex: 1;

                    >.text {
                        margin: 0px -2px;
                    }
                }

                >.right {
                    margin-top: auto;
                }
            }
        }

        .comment-body {
            >.top {
                font-size  : 12px;
                display    : flex;
                align-items: center;

                >.username {
                    margin-right: auto;
                    font-weight : 500;
                    color       : rgba(0, 0, 0, 0.7);

                    &:hover {
                        color: rgba(0, 0, 0, 0.5);
                    }
                }

                >.time {
                    color: rgba(0, 0, 0, 0.5);
                }

                >.reply {
                    margin-left: 5px;
                    cursor     : pointer;
                    color      : rgb(0, 138, 188);

                    &:hover {
                        color: rgb(32, 190, 255);
                    }
                }
            }

            >.text {}
        }
    }

    >.comments {
        margin-top: -16px;

        >.comment {
            >.replies {
                padding-left: 50px;
            }
        }
    }
}

.org-search-view {
    .section;
    padding: 25px;

    >.result {
        >.item {
            padding-top: 15px;

            &:first-child {
                padding-top: 0px;
            }

            >.top {
                display    : flex;
                align-items: center;

                >.user {
                    padding-right: 15px;
                }

                >.title {
                    flex     : 1;
                    color    : #008abc;
                    font-size: 18px;

                    &:hover {
                        color: #20beff;
                    }
                }

                >.format {}
            }

            >.info {
                display: flex;

                >.properties {
                    flex: 1;
                }

                >.timestamp {
                    color    : #70757a;
                    font-size: 14px;
                }
            }

            >.highlight {
                display           : -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;

                overflow     : hidden;
                text-overflow: ellipsis;
                font-size    : 14px;

                em {
                    font-style : normal;
                    font-weight: bold;
                }
            }
        }
    }
}


.org-format-list {
    .section;

    table {
        width : 100%;
        margin: 0px -2px;
    }

    td {
        color        : rgb(83, 83, 83);
        border-bottom: 0.7px solid rgba(0, 0, 0, .22);
        text-align   : left;
        font-size    : 15px;
        padding      : 6px;
        padding-left : 15px;
    }

    th {
        text-align  : left;
        padding-left: 15px;
    }

    .last {
        text-align   : right;
        padding-right: 12px;
    }

    .item {
        .name {}

        .info {
            font-size: 14px;
            color    : gray;
        }

        .timestamp {
            font-size: 14px;
            color    : gray;
        }

        .setting {
            width        : 50px;
            padding-right: 10px;
        }

        .selected-setting {
            width: 50px;
            color: #008abc;
        }

        .creation {
            width        : 50px;
            padding-right: 10px;
        }

        .icons {
            text-align: right;
        }
    }
}

.org-space-cardview {
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;

    margin: -6px -4px;

    >.item {
        box-shadow   : 0 1.3px 3px rgba(0, 0, 0, .2);
        border-radius: 5px;

        display       : flex;
        flex-direction: column;
        width         : calc(100%/3 - 8px);
        margin        : 6px 4px;
        height        : 150px;

        >.upper {
            .section;
            padding                   : 0px;
            border-bottom             : 0px;
            border-bottom-left-radius : 0px;
            border-bottom-right-radius: 0px;
            box-shadow                : none;

            overflow: hidden;
            position: relative;
            flex    : 3;

            img {
                position         : absolute;
                top              : 50%;
                left             : 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform    : translate(-50%, -50%);
                transform        : translate(-50%, -50%);
                width            : 105%;
                height           : auto;
            }
        }

        >.upper:after {
            position  : absolute;
            content   : "";
            top       : 0;
            left      : 0;
            width     : 100%;
            height    : 100%;
            background: linear-gradient(rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 1));
        }

        >.lower {
            .section;
            border-top             : 0px;
            border-top-left-radius : 0px;
            border-top-right-radius: 0px;
            box-shadow             : none;

            padding: 15px 25px;
            flex   : 2;
            display: flex;

            .left {
                flex: 1;

                >.title {
                    font-size: 17px;
                }

                >.info {
                    font-size: 12px;
                    color    : #666;
                    float    : left;
                }
            }

            .right {
                >.scope {}
            }
        }
    }
}

.org-userlist {
    >.item {
        .section;
        padding      : 10px 16px;
        margin-bottom: 10px;

        display: flex;

        >.icon {
            margin-top: 5px;
            width     : 50px;
            height    : 50px;

            img {
                width        : 100%;
                height       : 100%;
                border-radius: 50%;
            }
        }

        >.details {
            flex-grow   : 1;
            padding-left: 16px;

            >.username {
                font-size: 15px;
            }

            >.info {
                font-size: 13px;
                color    : #666;
            }
        }
    }
}

.org-usercard {
    display           : flex;
    //background-color: rgb(225, 236, 244);
    //border: 1px solid rgb(195, 206, 214);
    //border-radius: 5px;
    //padding: 10px;

    a {
        margin-top: 2px;
        width     : 40px;
        height    : 40px;

        img {
            width        : 100%;
            height       : 100%;
            border-radius: 50%;
        }
    }

    >.info {
        margin-left: 10px;

        >.username {
            font-size: 17px;
        }

        >.timestamp {
            font-size: 13px;
            color    : rgba(0, 0, 0, .6);
        }
    }
}

.org-path-bar {
    height: 20px;

    margin-bottom: 10px;

    .path {
        >.name {
            font-size: 17px;
        }

        >.id {
            font-size: 15px;
            color    : rgb(88, 96, 105);
        }

        >.slash {
            font-size: 17px;
            padding  : 0px 2px;
        }
    }
}

.org-activity-view {
    >.body {
        padding: 10px 0px;
    }

    .item {
        padding: 5px 20px;

        color      : rgb(32, 33, 36);
        display    : flex;
        align-items: center;

        >.usericon {
            margin-right: 10px;
        }

        >.action {
            flex       : 1 140px;
            color      : rgba(0, 0, 0, 0.4);
            display    : flex;
            font-size  : 12px;
            font-weight: 400;

            overflow     : hidden;
            white-space  : nowrap;
            text-overflow: ellipsis;

            >.time {
                min-width: 80px;
            }

            >.username {
                color: #008abc;

                &:hover {
                    color: #20beff;
                }
            }
        }

        >.content {
            flex: 3;

            overflow     : hidden;
            white-space  : nowrap;
            text-overflow: ellipsis;

            >.title {
                font-size    : 14px;
                font-weight  : 500;
                padding-right: 10px;
            }

            >.format {
                font-size: 14px;
            }
        }
    }
}

.org-conpact-content-view {
    border-top: 0.7px solid rgba(0, 0, 0, .22);
    border    : 1px solid rgb(222, 223, 224);

    .property-type {
        text-align   : left;
        color        : rgb(99, 99, 99);
        padding-right: 10px;
    }

    .property-value {
        >.null {
            color    : rgb(88, 96, 105);
            font-size: 12px;
        }
    }

    >.body {
        display: flex;

        >.left {
            padding       : 20px;
            padding-bottom: 8px;

            background  : rgb(248, 248, 248);
            border-right: 1px solid rgb(222, 223, 224);
            flex        : 2;

            >.user {}

            >.info {
                font-size: 14px;
            }
        }

        >.right {
            padding       : 20px;
            padding-bottom: 8px;
            flex          : 5;

            >.title {
                color      : rgba(0, 0, 0, 0.7);
                font-size  : 20px;
                line-height: 24px;
                font-weight: 700;
            }

            >.materials {
                >.material {
                    margin-top: 15px;

                    >.property {}

                    >.value {
                        font-size  : 14px;
                        line-height: 22px;
                        color      : rgba(0, 0, 0, 0.8);
                        word-break : break-word;
                    }
                }
            }
        }

        &.folded {
            position  : relative;
            max-height: 300px;
            overflow  : hidden;

            &:after {
                content   : "";
                position  : absolute;
                inset     : 80px 0px 0px;
                background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
            }
        }
    }

    >.expand {
        text-align: center;
        border-top: 1px solid rgb(235, 236, 236);
        cursor    : pointer;
        padding   : 3px 0px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.03);
        }
    }
}

.org-topic-view {
    >.body {
        padding: 20px 0px;
    }

    .topic {
        font-size    : 16px;
        color        : rgba(0, 0, 0, 0.7);
        padding-top  : 20px;
        padding-left : 20px;
        padding-right: 20px;

        &:first-child {
            padding-top: 0px;
        }

        >.top {}

        >.content {
            padding-top: 5px;
        }
    }
}

.org-latest-contentlist-byformat {
    .section;

    table {
        width: 100%;
    }

    th {
        text-align: left;
    }

    .creation {
        float: right;
    }

    .body {
        padding: 5px 10px;
    }

    .item {
        .user {}

        .title {
            font-size: 17px;
            display  : flex;
            height   : 100%;
            width    : 100%;
        }

        .timestamp {
            font-size: 15px;
            color    : gray;
            display  : flex;
            height   : 100%;
            width    : 100%;
        }
    }
}

.org-draft-explorer {
    .section;

    position   : sticky;
    top        : 30px;
    // height  : ~"min(calc(100vh - 60px), 100%)";
    height     : ~"calc(min(100vh - 60px, 100%))";

    >.body {
        overflow-y    : scroll;
        overflow-x    : hidden;
        // height    : calc(100vh - 60px - 36px);
        //height      : calc(min(100vh - 60px - 36px, 100%));
        height        : 1px;
        min-height    : calc(100% - 36px);

        >.new-draft {
            background-color: rgba(0, 0, 0, .07);
            padding-left    : 20px;
        }

        >.box {
            >.draft-set {
                >.item {
                    cursor : default;
                    padding: 0px 7px;

                    >.creation {
                        float: right;

                        >i {
                            padding: 1px 2.5px;
                            border : 1px solid transparent;

                            &:hover {
                                background   : rgba(0, 0, 0, 0.1);
                                border-radius: 3px;
                                border       : 0.5px solid rgba(0, 0, 0, 0.3);
                            }
                        }
                    }
                }

                >.drafts {
                    >.draft {
                        padding-left : 20px;
                        padding-right: 5px;
                        display      : flex;

                        >a {
                            display: flex;
                            width  : 100%;
                            height : 100%;
                        }

                        &:hover {
                            background-color: rgba(0, 0, 0, .03);
                        }

                        &.selected {
                            background-color: rgba(0, 0, 0, .07);
                        }

                        >.name {
                            flex    : 1;
                            display : flex;
                            overflow: hidden;

                            >a {
                                flex         : 1;
                                text-overflow: ellipsis;
                                overflow     : hidden;
                                white-space  : nowrap;
                            }
                        }

                        >.menu {
                            height: 0px;
                        }
                    }
                }
            }
        }
    }
}

.org-draft-history {
    .section;

    >.box {
        >.node {}
    }
}

.org-content-viewer {

    // ValueViewer
    .property-type {
        text-align: left;
        color     : rgb(99, 99, 99);
        width     : 100px;
    }

    .property-value {
        >.null {
            color    : rgb(88, 96, 105);
            font-size: 12px;
        }
    }

    >.top {
        >.header {
            display: flex;

            >.title {
                flex   : 1;
                padding: 10px 25px;

                >.title-property {
                    color    : rgb(99, 99, 99);
                    font-size: 15px;
                }

                >.title-text {
                    font-size: 25px;
                }
            }

            >.side {
                padding: 10px 25px;

                >.side-format {
                    >.edit {
                        float: right;
                        color: #008abc;

                        &:hover {
                            color: #20beff;
                        }
                    }
                }

                >.side-user {}
            }
        }

        >.info {
            padding   : 10px 25px;
            border-top: 0.7px solid rgba(0, 0, 0, .22);
        }
    }

    >.section {
        margin-top: 25px;

        .section-value {
            padding: 25px;
        }
    }
}

.org-content-editor {

    // ValueEditor
    .property-type {
        text-align    : left;
        color         : rgb(99, 99, 99);
        width         : 100px;
        vertical-align: top;
        padding-top   : 7px;
    }

    .property-value {
        padding: 2px 0px;

        >.null {
            color    : rgb(88, 96, 105);
            font-size: 12px;
        }
    }

    >.section {
        margin-top: 20px;

        .section-value {
            padding: 25px;
        }
    }
}

.org-document {
    >.blocks {
        &:focus {
            outline: none;
        }
    }
}

.org-document-editor {
    min-height: 300px;
}

.org-document-block {
    >.paragraph {
        min-height: 32px;
        font-size : 16px;
        padding   : 4px 6px;
    }

    >.header {
        min-height: 32px;
    }

    >.header-level1 {
        font-size: 30px;
    }

    >.header-level2 {
        font-size: 25px;
    }

    >.header-level3 {
        font-size: 20px;
    }

    >.header-level4 {
        font-size: 18px;
    }
}

.org-value-editor-object {
    .property-type {}

    .property-value {
        width: 500px;
    }
}

.org-datagridview {}

.org-material-viewer {
    >.text {
        >.line {

        }
    }
}